


.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%; 
  }
  
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  table{
      width: 100%;
      
      
  }
  th{
     
      padding: 5px;
  }
  td{
      padding: 10px 10px;
      border-top: lightblue solid 3px;
      border-radius: 15px;
  }
  
  td a {
      color: orange;
      font-size: 12px;
      
  }
  h1{
      display: table;
      margin-top: 60px;
      margin-left: 550px;
  }
  img{
      width: 150px;
      height: 150px;
      margin-right: 10px;
  }
  .item1{
      display: flex;
      flex-wrap: wrap;
      
  }
  .item2{
    display: flex;
    flex-wrap: wrap;
}
.item3{
    display: flex;
    flex-wrap: wrap;
}
  .total-price{
      display: flex;
      justify-content: flex-end;
    
  }
  .total-price table{
      border-top: orange 3px solid;
      width: 100%;
      max-width: 350px;
      border-radius: 15px;
  }


.container:hover i{
color: #f50057;
}
.container i {
    font-size: 5 rem;
    transition: .4s;
}
.container {
    color: #f50057;
}
td.buttons{
    
    padding-top: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    

  

   
}
.btn-danger {
    border-radius: 15px;
    background-color: #f50057;
    color: seashell;
}
.btnMinus {
    
    border-radius: 5px;
    color: seashell;
    background-color: lightblue;

}
.btnPlus {
    border-radius: 5px;
    color: seashell;
    background-color: lightblue;

}

img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.tab-header{
    display: flex;
    align-items: flex-end ;
}
.cart-subtotal-price{
    text-align: center;
}
.tax  {
    text-align: center;
}
.tot-cart  {
    text-align: center;
}
